<!DOCTYPE html>
<html>
  <head>
    <title>BookPf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= current_user.name %>でログイン中
        <%= link_to "My Page", user_path(current_user) %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
        <%= link_to "Sign up",new_user_registration_path %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
